/*  */
body {
    font-family: 'Slabo 27px', serif;
}

// Variables
$header-container-height: 300px;

.header-container {
    background: black;
    height: $header-container-height;
    box-shadow: 5px 5px 10px #888888;
}

.vc {
    background-color: white;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-top: 10px solid #D9AE34;
    // outline: 10px solid #C0BCBC;

    .vc-body {
        flex: 5;
        display: flex;
        flex-direction: row;
        background: #FFFFFF;
    }
    
    .vc-body-image {
        position: relative;
        margin-left: 28px;
        margin-top: 40px;
        flex: 1;
    }
    
    .vc-body-info {
        flex: 2;
        padding: 20px 10px 10px 15px;
    }
    
    .vcb-title {
        font-size: 30px;
    }
    
    
    .vc-footer {
        flex: 1;
        background: #363535;
        height: 50px;
    }
}

.cv-content {
    margin-top: 60px;

    h2 {
        color: #630909;
        border-bottom: 1px solid black;
    }

    .cv-content-section-l1 {
        margin-left: 60px;
        margin-top: 30px;
    }
}
/* Utilities */
.space-top-xl {
    top: 100px;
}