/*  */
body {
    font-family: 'Slabo 27px', serif;
    height: 500px;
}

// Variables
$header-container-height: 300px;

.header-container {
    background: black;
    height: $header-container-height;
    box-shadow: 5px 5px 10px #888888;
}

.pro-cv-container {
    max-height: 100vh;
    overflow-y: auto;
}

.vc {
    background-color: white;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-top: 10px solid #D9AE34;
    border-bottom: 3px solid #D9AE34;
    border-right: 3px solid #D9AE34;
    border-left: 3px solid #D9AE34;
    margin-left: -20px;
    margin-right: -20px;
    // box-shadow: 3px 4px 12px #888888;
    // outline: 10px solid #C0BCBC;

    .vc-body {
        flex: 5;
        display: flex;
        flex-direction: row;
    }
    
    .vc-body-image {
        position: relative;
        margin-left: 0px;
        margin-top: 0px;
        flex: 2;
    }
    
    .vc-body-info {
        flex: 2;
        padding: 29px 10px 10px 15px;
    }
    
    .vcb-title {
        font-size: 30px;
    }
    
    
    .vc-footer {
        flex: 1;
        background: #363535;
        height: 50px;
    }
}

.cv-content {
    margin-top: 30px;

    h2 {
        color: #630909;
        border-bottom: 2px solid #d4c8c8;

        .subtext {
            font-size: 20px;
        }
    }

    .cv-content-section-l1 {
        margin-left: 20px;
        margin-top: 20px;
    }
}

.terminal {
    color: #20DF1D;
    font-family: 'Courier New', Courier, monospace;
    background: black;
    font-size: 15px;
    max-height: 100vh;
    overflow-y: scroll;
    .terminal-command {
        font-weight: bold;
        font-size: 17px;
    }

    .terminal-command-result {
        border: 4px double #D8B619;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #B4DD0E;
    }
}
/* Utilities */
.space-top-xl {
    top: 100px;
}