/*  */
body {
  font-family: 'Slabo 27px', serif;
  height: 500px;
  font-size: 13px; }

.header-container {
  background: black;
  height: 200px;
  box-shadow: 5px 5px 10px #888888; }

.pro-cv-container {
  max-height: 100vh;
  overflow-y: auto; }

.vc {
  background-color: white;
  height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: 10px solid #D9AE34;
  border-bottom: 3px solid #D9AE34; }
  .vc .vc-body {
    flex: 5;
    display: flex;
    flex-direction: row; }
  .vc .vc-body-image {
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    flex: 1; }
  .vc .vc-body-info {
    flex: 2;
    padding: 15px 10px 10px 15px; }
  .vc .vcb-title {
    font-size: 30px; }
  .vc .vc-footer {
    flex: 1;
    background: #363535;
    height: 50px; }

.cv-content {
  margin-top: 30px; }
  .cv-content h2 {
    color: #630909;
    border-bottom: 2px solid #d4c8c8; }
    .cv-content h2 .subtext {
      font-size: 20px; }
  .cv-content .cv-content-section-l1 {
    margin-left: 20px;
    margin-top: 20px; }

.terminal {
  color: #20DF1D;
  font-family: 'Courier New', Courier, monospace;
  background: black;
  font-size: 13px;
  max-height: 100vh;
  overflow-y: scroll; }
  .terminal .terminal-command {
    font-weight: bold;
    font-size: 17px; }
  .terminal .terminal-command-result {
    border: 4px double #D8B619;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #B4DD0E; }

/* Utilities */
.space-top-xl {
  top: 100px; }

.space-top-med {
  margin-top: 20px; }
